<h2 mat-dialog-title>Informe os dados do Exercício</h2>

<mat-dialog-content>

	<form id="exerciseForm"
	      name="exerciseForm"
	      (ngSubmit)="onSubmit()"
	      #exerciseForm="ngForm">

		<mat-form-field>
			<mat-select placeholder="Tipo de Exercício"
			            name="type"
			            id="type"
			            [(ngModel)]="exercise.type">
				<mat-option *ngFor="let et of exTypes"
				            [value]="et.name">
					{{ et.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-select placeholder="Exercício"
			            name="name"
			            id="name"
			            [(ngModel)]="exercise.name">
				<mat-option *ngFor="let ex of exercises"
				            [value]="ex">
					{{ ex }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput
			       type="number"
			       name="repetitions"
			       [(ngModel)]="exercise.repetitions"
			       placeholder="Número de repetições">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput
			       type="number"
			       name="series"
			       [(ngModel)]="exercise.series"
			       placeholder="Número de Séries">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input matInput
			       type="number"
			       name="restSeconds"
			       [(ngModel)]="exercise.restSeconds"
			       placeholder="Tempo de Descanso em Segundos">
		</mat-form-field>

	</form>

</mat-dialog-content>

<mat-dialog-actions>

	<button mat-button
	        mat-dialog-close>
		Cancelar
	</button>

	<button mat-button
	        type="submit"
	        form="exerciseForm">
		ok
	</button>

</mat-dialog-actions>