// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin custom-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .series p{
        background-color: mat-color($primary);
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

main{
    font-family: Arial;
    margin: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.series{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

