<div class="container">
	<mat-form-field appearance="outline">
		<mat-label>Data do Treino</mat-label>
		<input matInput
		       [matDatepicker]="picker"
		       placeholder="Data do Treino"
		       [(ngModel)]="training.date"
		       (click)="picker.open()">
		<mat-datepicker-toggle matSuffix
		                       [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker
		                [touchUi]="isMobile"></mat-datepicker>
	</mat-form-field>


	<div class="actions">
		<button mat-raised-button
		        color="accent"
		        (click)="addExercise()">
			Novo Exercício
		</button>
		<button mat-raised-button
		        color="accent"
		        (click)="finalize()">
			Finalizar Treino
		</button>
		<button mat-raised-button
		        color="accent"
		        (click)="cancelar()">
			Cancelar
		</button>
	</div>

	<mat-list>
		<mat-list-item *ngFor="let ex of training.exercises">
			<mat-icon matListIcon>fitness_center</mat-icon>
			<h3 matLine
			    [matTooltip]="ex.name"> {{ex.name}} </h3>
			<p matLine>
				<span> {{ex.type}} - {{ex.series}} séries - {{ex.repetitions}} reps</span>
			</p>
		</mat-list-item>
	</mat-list>


</div>