<div class="container">
	<mat-form-field appearance="outline">
		<mat-label>Data do Treino</mat-label>
		<input matInput
		       [matDatepicker]="picker"
		       placeholder="Data do Treino"
		       [(ngModel)]="training.date"
		       (click)="picker.open()">
		<mat-datepicker-toggle matSuffix
		                       [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker
		                [touchUi]="isMobile"></mat-datepicker>
	</mat-form-field>

	<button mat-raised-button
	        color="accent"
	        (click)="addExercise()">
		Adicionar Exercício
	</button>

	<ul>
		<li *ngFor="let ex of training.exercises">
			{{ex.name}}
		</li>
	</ul>
</div>