.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.actions{
    display: flex;
    flex-direction: row;
}

.actions *{
    flex-grow: 1;
    margin: 10px;
}

.actions *:first-child{
    margin-left: 0;
}

.actions *:last-child{
    margin-right: 0;
}